#contents {
    font-family: 'Calibri', sans-serif;
    margin-left: 35%
}
.label1 {
    margin-right: 70px;  
}
.label2 {
    margin-right: 40px;
}
.label3 {
    margin-right: 40px;
}
#sicalc {
    color: gray;
}